
<div class="conatiner">

    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8 border p-2 shadow">
            <table class="table">
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Course</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>

                <tr *ngFor="let st of students">
                    <td>{{st.id}}</td>
                    <td>{{st.name}}</td>
                    <td>{{st.course}}</td>
                    <td>{{st.email}}</td>
                    <td>
                        <a href="" class="btn btn-outline-primary me-2" [routerLink]="['/students',st.id]">View</a>
                        <a href="" class="btn btn-outline-warning " [routerLink]="['/student-edit',st.id]">Edit</a>
                        <!-- <a href="" class="btn btn-outline-danger ">Delete</a> -->
                    </td>
                </tr>


            </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>